[submodule "AVR-LIBRARY-COMMON_DEFINES"]
	path = AVR-LIBRARY-COMMON_DEFINES
	url = https://github.com/electroCupcake/AVR-LIBRARY-COMMON_DEFINES.git
[submodule "AVR-LIBRARY-COMMON_TIMER"]
	path = AVR-LIBRARY-COMMON_TIMER
	url = https://github.com/electroCupcake/AVR-LIBRARY-COMMON_TIMER.git
